.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #790cd9;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color:rgb(255, 157, 11);
  
}

p {
  font-size: 2rem;
  color: #a1eb48;
  font-family:  cursive;
  /* margin: 2rem; */
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
  font-family: cursive;

}
